<form method="post" action="{{ path('case_draft_delete', {'id': case_draft.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ case_draft.id) }}">
    <button class="btn">Delete</button>
</form>
