{% extends 'base.html.twig' %}

{% block title %}Edit CaseDraft{% endblock %}

{% block body %}
    <h1>Edit CaseDraft</h1>

    {{ include('case_draft/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('case_draft_index') }}">back to list</a>

    {{ include('case_draft/_delete_form.html.twig') }}
{% endblock %}
